html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.bg {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.bg > img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  filter: blur(2px);
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.file-input {
  position: absolute;
  top: -100%;
  opacity: 0;
}
.action-button {
  width: 210px;
  height: 55px;
  font-family: "Roboto Slab", serif;
  border-radius: 20px;
  font-size: 20px;
}
.file-form > div span {
  display: flex;
  flex-direction: column;
}
.secondary-button {
  color: #fff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.secondary-button:hover {
  color: #4c92a8;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-details {
  display: flex;
  color: #fff;
}
.file-details > p {
  max-width: 203.44px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 40px;
  margin-left: 15px;
  align-self: flex-end;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
#upload-section,
#file-info {
  display: none;
}
.title-light {
  color: #fff;
}
.subtitle-light {
  color: #fff;
  opacity: 0.7;
}
.preloader-wrapper {
  align-self: center;
}
.modal-content > div {
  display: flex;
  flex-direction: column;
}
.footer-option {
  display: none;
}
.collection {
  display: none;
}
#file-loading {
  margin-top: 30px;
}
#upload-button {
  display: flex;
}
.upload-wrapper {
  display: flex;
  justify-content: center;
}
.align-center {
  text-align: center;
}
.loader {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 3px solid gray;
  width: 27px;
  height: 27px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin-left: 10px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
